[submodule "dotfiles/emacs/emacs.d/private/emacs-snippets"]
	path = dotfiles/emacs/emacs.d/private/emacs-snippets
	url = https://github.com/GTrunSec/emacs-snippets.git
[submodule "dotfiles/wallpaper"]
	path = dotfiles/wallpaper
	url = https://github.com/GTrunSec/wallpaper.git
[submodule "own-nixpkgs/liberime/liberime"]
	path = own-nixpkgs/liberime/liberime
	url = https://github.com/tumashu/liberime.git
[submodule "nixos/overlays/R-haskell/nix-config"]
	path = nixos/overlays/R-haskell/nix-config
	url = https://github.com/GTrunSec/nix-config.git
[submodule "nixos/overlays"]
	path = nixos/overlays
	url = https://github.com/GTrunSec/nixpkgs-overlays.git
[submodule "nixos/channel/nixpkgs"]
	path = nixos/channel/nixpkgs
	url = git@github.com:GTrunSec/nixpkgs.git
	shallow = true
[submodule "nixos/channel/home-manager"]
	path = nixos/channel/home-manager
	url = https://github.com/GTrunSec/home-manager.git
