## nixos
result


.DS_Store
init.el
dotfiles/doom/modules/*
dotfiles/emacs/emacs.d/var
dotfiles/emacs/emacs.d/straight
dotfiles/emacs/emacs.d/.*
dotfiles/emacs/emacs.d/librime.so
dotfiles/emacs/emacs.d/setup
dotfiles/emacs/emacs.d/elpa
dotfiles/emacs/emacs.d/pyim/rime
Pattern.org
##Emacs bookmarks
bm-macos-data

##system rime config
dotfiles/fcitx/rime/build
dotfiles/fcitx/rime/luna_pinyin.userdb/LOG*
dotfiles/fcitx/rime/luna_pinyin.userdb/LOCK
dotfiles/fcitx/rime/luna_pinyin.userdb/*.log
dotfiles/fcitx/log
dotfiles/fcitx/dbus
dotfiles/fcitx/clipboard/history.dat
dotfiles/fcitx/cached*
dotfiles/fcitx/rime/.*
dotfiles/fcitx/rime/sync
dotfiles/fcitx/data
dotfiles/fcitx/profile*

## Emacs librime config
dotfiles/emacs/emacs.d/pyim/rime/build
dotfiles/emacs/emacs.d/pyim/rime/easy_en.userdb
dotfiles/emacs/emacs.d/pyim/rime/easy_en.userdb.old
dotfiles/emacs/emacs.d/pyim/rime/luna_pinyin.userdb
dotfiles/emacs/emacs.d/pyim/rime/luna_pinyin.userdb.old
dotfiles/emacs/emacs.d/pyim/scel2pyim/scel2pyim
dotfiles/emacs/emacs.d/liberime.so
dotfiles/emacs/emacs.d/pyim/rime/user.yaml

## lsp

dotfiles/emacs/emacs.d/mspyls
dotfiles/emacs/emacs.d/SessionDesktop.el
