## nixos
roam
result
keys.sh
nixos-old
#fish
fundle.fish
fish_prompt.fish

.DS_Store
init.el
dotfiles/doom-emacs/modules/*.el
dotfiles/doom-emacs/autoload/*.el
dotfiles/doom-emacs/org-roam.db
dotfiles/doom-emacs/modules/private/my-code/*.el
dotfiles/doom-emacs/modules/private/my-org/*.el
dotfiles/doom-emacs/modules/private/public
dotfiles/doom-emacs/etc/b*
dotfiles/emacs/emacs.d/var
dotfiles/emacs/emacs.d/straight
dotfiles/emacs/emacs.d/.*

Pattern.org
##Emacs bookmarks
bm-macos-data

##system rime config
dotfiles/fcitx/rime/build
dotfiles/fcitx/rime/luna_pinyin.userdb/LOG*
dotfiles/fcitx/rime/luna_pinyin.userdb/LOCK
dotfiles/fcitx/rime/luna_pinyin.userdb/*.log
dotfiles/fcitx/log
dotfiles/fcitx/dbus
dotfiles/fcitx/clipboard/history.dat
dotfiles/fcitx/cached*
dotfiles/fcitx/rime/.*
dotfiles/fcitx/rime/sync
dotfiles/fcitx/data
dotfiles/fcitx/profile*


## lsp

dotfiles/emacs/emacs.d/mspyls
dotfiles/emacs/emacs.d/SessionDesktop.el

